
	
.head-con{
	 background-color: rgba(255,255,255,0.3);
	 text-align: center;
	 padding: 2%;
	 border-radius: 15px;	
	margin-top: 30px;
	}
h1{
	min-width: 200px;
	padding: 0%;
	}
	
.slogan{
	font-weight: 700;
	font-size: 22px;
	}
.modate {
	font-size: 20px;
}
	
	
	
.row{
	bottom: 300px;
	border-style: solid;
	border-width: 1px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2%;
	border-radius: 15px;
	}

.head-4{
	padding-left: 0%;
	padding-top: 3%;
	}
h3{
	font-size: 22px;
	z-index: 0;
	}
	
h4{
	padding-left: 5%;
	font-size: 25px;
	z-index: 0;
	}
.nest-first{
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	padding: 2%;
	z-index: 0;
	}
	
.ui-content{
	z-index: 5;
}

.collapen{
	position: relative;
	top: -10px; 
	font-size: 18px;
	}

.linespace{
	height: 20px;
}

.devcred{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 30%;
	padding-left: 10%;
	}

.timetable-body{
	padding-left: 10%;
	padding-right: 10%;
}
 .back-to-top {
	display: none;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: grey no-repeat center 43%;
 }


@media screen and (max-width: 980px) {
	h1{
		font-size: 12px;
	}
	
	p{
		
	}
	
	.head-4{
		padding-left: 20%;
		padding-top: 3%;
		}
	.head-con{
		text-align: center;
		padding: 2%;
		border-radius: 15px;	
		margin-top: 20px;
	}
	
	.devcred{
		border-style: solid;
		border-width: 2px;
		border-color: black;
		margin-top: 5px;
		margin-left: 10%;
		margin-right: 10%;
		background: rgba(255,255,255,0.8);
		
		padding-left: 10%;
		}
	
	.timetable-body{
		padding-left: 0%;
		padding-right: 0%;
	}
}


